/*setup*/
.hideMe {
    display: none;
}

.mobile {
    display: none;
}

body {
    width: 100%;
}

/*================*/
/*GENERAL*/
/*================*/

/*font*/
p, h1, h2, h3, h4, h5, h6, a, ul, li {
    font-family: 'Assistant', sans-serif;
}

ul {
    list-style: none;
}

/*link color*/
.row a, .row a:hover {
    color: #FFF;
    text-decoration: none;
}

/*general container*/
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}


/*ROWS */
.row p {
    font-size: 2.0em;
}

.row {
    color: #FFF;
    border-radius: 0px !important;
    /*background-image: url("img/bgPattern_clear-00.png");*/
    background-size: 32%;
    padding-top: 125px;
    padding-bottom: 140px;
}



.textBox {
    max-width: 800px;
    margin: 0 auto;
}

.textBox p {
    margin-top: 35px;
}

.textContent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.actionRow {
    background-color: #13A871;
    -webkit-transition: background-color 1s, height 1s;
    transition: background-color 1s, height 1s;
}

.learnRow {
    background-color: #13A871;
    /*background-color: #F4BA14;*/
}

.bgOrange {
    background-color: #F89522;
    background-image: url("img/bgPattern_clear-00.png");
    background-size: 35%;
}

.bgOrangeRed {
    background-color: #F05227;
    background-image: url("img/bgPattern_clear-01.png");
    background-size: 35%;
}

.bgPurple {
    background-color: #883293;
    background-image: url("img/bgPattern_clear-02.png");
    background-size: 35%;
}

.bgBlue {
    background-color: #36449C;
    background-image: url("img/bgPattern_clear-03.png");
    background-size: 35%;
}

.bgGreenLight {
    background-color: #20AFA1;
    /*background-color: #8EC73F;*/
    background-image: url("img/bgPattern_clear-00.png");
    background-size: 35%;
}

.bgGreen {
    background-color: #1EB05A;
    background-image: url("img/bgPattern_clear-01.png");
    background-size: 35%;
}




/*===================*/
/*BUTTONS*/
/*===================*/

.primaryBtn {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 25px auto;
    border-radius: 5px;
    line-height: 60px;
    width: 550px;
}

.optionsContainer h4 {
    padding-bottom: 8px;
}

.img-scene {
    width: 400px;
    margin-bottom: 25px;
}

.img-scene-md {
    transition: width 1s;
}

.img-scene-md.selected {
    width: 300px;
}


.img-scene-md.notSelected {
    width: 200px;
}


.initialNotSelected {
    opacity: 0.35;
    filter: alpha(opacity=35);
}


.setActionContent {
    margin-top: 450px;
}


#symptomsSection ul img, #antibioticsSection ul img, #symptomsSection ul video, #antibioticsSection ul video {
    width: 200px;
}

#symptomsSection ul li p {
    margin-bottom: 50px;
}

ul {
    padding-left: 0px;
}

#contentMonitor img, #contentAppointment img, #contentER img {
    width: 200px;
    margin-bottom: 10px;
}

.setActionContent ul li {
    margin-bottom: 45px;
}

.setActionContent h2 {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 45px;
}

.setActionContent h3 {
    font-size: 2.5em;
}

.row1 h5 {
    font-size: 32px;
}

h1 {
    margin-bottom: 25px;
}

.setActionContent h3 {
    margin-top: 500px;
}

.setActionContent ul p {
    font-size: 2em;
}


.marginTopHuge {
    margin-top: 950px;
}

.symptomsContainer {
    max-width: 840px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.symptomsContainer h2 {
    margin-bottom: 35px;
}




#howToManage h3 {
    font-size: 3.0em;
    margin-bottom: 25px;
    margin-top: 55px;
}

#howToManage p {
    margin-top: 15px;
    margin-bottom: 75px;
}



.overlay {
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 10px 15px;
    font-size: 2em;
}

#backToTop {
    right: 40px;
    bottom: 40px;
}

#scrollDown {
    position: absolute;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.72);
    left:0;
    right:0;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    margin-top: 80px;
    font-size: 3.5em;
    padding: 30px 60px;
}

/*#antibioticsSection p {*/
/*    margin-bottom: 85px;*/
/*}*/

/*#antibioticsSection img {*/
/*    margin-bottom: -30px;*/
/*}*/

#downIcon {
    margin-top: 25px;
    font-size: 4.5em;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}



/*OVERLAY*/
/*.overlay {*/
    /*display: none;*/
/*    position: fixed;*/
/*    overflow-y: scroll;*/
/*    margin: 0px auto;*/
/*    padding: 25px;*/
    /*background-color: rgba(255,255,255,0.925);*/
/*    background-color: steelblue;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 2;*/
/*    top: 0; */
/*    left: 0;*/
/*    color: black;*/
/*}*/

#liability-overlay {
    display: none;
    color: #333;
    background-color: rgba(255,255,255,0.925);
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0; 
    left: 0;
    overflow-y: scroll;
}

#liability-statement-btn .primaryBtn, .primaryBtn.overlay-close-btn, #close-infographic-btn .primaryBtn {
    background-color: rgba(200, 200, 200, 0.3);
}

.primaryBtn.overlay-close-btn {
    width: 200px;
}

footer a, footer a:hover, footer a:visited, footer a:active, footer a:link {
    color: #333;
    text-decoration: none;
}

    /*display: none;*/
    /*position: fixed;*/
    /*overflow-y: scroll;*/
    /*margin: 0px auto;*/
    /*padding: 25px;*/
    /*background-color: rgba(255,255,255,0.925);*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 2;*/
    /*top: 0; */
    /*left: 0;*/
    
    
    /*    position: fixed;*/
    /*color: white;*/
    /*background-color: rgba(0, 0, 0, 0.12);*/
    /*padding: 10px 15px;*/
    /*font-size: 2em;*/














.scroll-locked {
  position:fixed;
  overflow:hidden;
  bottom: 0;
}

.overlay-close-btn {
    cursor: pointer;
    font-size: 2.0em;
    color: #333;
}


#liability-overlay a, #liability-overlay a:hover, #liability-overlay a:visited, #liability-overlay a:active, #liability-overlay a:link {
    color: #333;
    text-decoration: none;
}

.overlay .primaryBtn.overlay-close-btn {
    font-size: 24px;
} 

#liability-overlay .btn-link:focus, #liability-overlay .btn-link:hover {
    color: #333;
    text-decoration: none;
}

#liability-overlay {
    padding-top: 50px;
}

.logo {
    width: 150px;
}

#logo-arche {
    width: 200px;
}

#logo-trekk {
    width: 275px;
}

#logo-echo {
    margin-right: 20px;
}





.vertical-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.vertical-list li {
    margin: 10px 0px;
}